// STYLEGUIDE
$col-neutral-medium: hsl(0, 0%, 59%)
$col-neutral-dark: hsl(0, 0%, 17%)

$font-base-size: 18px
$font-stack: 'Rubik', sans-serif
$font-weight-light: 400
$font-weight-regular: 500
$font-weight-bold: 700

$pg-margin: 24px
$results-margin-top: 166px

/*
 * BASE LAYOUT
 */
*
  box-sizing: border-box
  // transition: all 0.2s ease-in-out
html,
body
  margin: 0
  height: 100%
  width: 100%
body
  font-family: $font-stack
  font-weight: $font-weight-regular
  font-size: $font-base-size
  color: $col-neutral-dark
  position: relative
  text-align: center
h1, h2, h3, h4, h5, h6
  font-weight: $font-weight-regular
h1
  font-size: 1.42em
  margin-top: 2px
  margin-bottom: 28px
  color: white
h3
  color: $col-neutral-medium
  font-size: 0.55em
  letter-spacing: 1px
  font-weight: $font-weight-bold
  text-transform: uppercase
  margin-top: 0
  margin-bottom: 9px
.visually-hidden
  position: absolute
  left: -10000px
  top: auto
  width: 1px
  height: 1px
  overflow: hidden
.wrapper
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  overflow: hidden
.map
  flex-grow: 1
#mapid
  min-height: 300px
  height: 100%
.leaflet-control-container .leaflet-top.leaflet-left
  display: none

// HEADER
header
  background: url("../../images/pattern-bg.png") no-repeat
  background-size: cover
  background-position: center center
  padding: $pg-margin
  padding-bottom: $results-margin-top
#search-bar
  position: relative
#search-bar input
  width: 100%
  border: none
  font-size: 1em
  color: $col-neutral-dark
  padding: 18px $pg-margin
  border-radius: 15px
#search-bar button
  position: absolute
  top: 0
  right: 0
  border-radius: 0 15px 15px 0
  padding: 20px $pg-margin
  border: none
  background: black

// RESULTS
.results
  position: absolute
  top: $results-margin-top
  z-index: 1000
  background: white
  margin: 0 $pg-margin
  border-radius: 15px
  padding: 10px 20px
  width: calc(100% - (2 * #{$pg-margin}))
.results ul
  list-style-type: none
  padding-left: 0
.results p
  font-size: 1em
  margin-top: 0
  margin-bottom: 25px
.results ul li:last-of-type p
  margin-bottom: 0
